body {
    width: 1440px;
    margin: 50px;
}
header {
    display: flex;
    flex-direction: row;
}
#logo {
    float: left;
}
.navbar {
    z-index: 2;
}
.navbar a {
    color: black;
    font-weight: 700;
}
#login {
    color: hsl(207, 33%, 95%);
}
main {
    display: flex;
    flex-direction: row;
    z-index: 3;
}
.left {
    float: left;
}
.right {
    float: right;
}
/* #laptopimg {
    width: 900px;
} */
.roundsquare {
    background-color: hsl(207, 33%, 95%);
    width: 900px;
    height: 500px;
    border-bottom-left-radius: 50px;
    position: absolute;
    z-index: -1;
    margin-top: -50px;
    float: right;
}